<template>
 <v-app> 
  <div class="container">
    <v-card 
    elevation="2"
    >
    <div class="row">
      <v-radio-group
      v-model="radios"
      :mandatory="false"
      row
      style="margin-left: 20px"
    >
      <v-radio
        label="Regular"
        value="1"
      ></v-radio>
      <v-radio
        label="Irregular"
        value="0"
      ></v-radio>
    </v-radio-group>  
    </div>
    </v-card> 
    <br />
    <v-card elevation="2">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-2">
            <v-checkbox
     
              :label="`Lamination`"
               v-model="lamination"
               color="red"
               @click="checkBoxValues">

            ></v-checkbox>            
          </div>
          <div class="col-md-2">
            <v-checkbox
       
                :label="`Corrugation`"
                 v-model="corrugation"
                 color="red darken-3">

            ></v-checkbox>           
          </div>
          <div class="col-md-2">
            <v-checkbox
       
                :label="`Pasting`"
                 v-model="pasting"
                 color="red darken-3">

            ></v-checkbox>           
          </div>
          <div class="col-md-2">
            <v-checkbox
       
                :label="`Plate Cost`"
                 v-model="plate_cost"
                 color="red darken-3">

            ></v-checkbox>           
          </div>
          <div class="col-md-2">
            <v-checkbox
       
                :label="`Dye Cost`"
                 v-model="dye_cost_box"
                 color="red darken-3">

            ></v-checkbox>           
          </div>

        </div>      
      </div>
    </v-card>  
    <br />              
    <div class="row">
      <div class="col-md-12">
        <v-card elevation="2">
          <div class="row">
              <h3 style="margin-left: 20px">BOARD COST / BOX</h3>
          </div>
          <div class="row">    
            <div class="col-md-3 col-lg-3 col-xs-2 col-sm-2">
               <div class="form-group">
                  <v-select
                   
                    :options="vendor_array"
                    :reduce="vendor_array => vendor_array.id" 
                    label="name" 
                    placeholder="Select Vendor"
                    @input="vendorBoards" 
                    v-model="vendors" 
                   />

               </div>
            </div>
            <div  class="col-md-3 col-lg-3 col-xs-2 col-sm-2">
               <div class="form-group">
                     <v-select
                    :options="board_array"
                    :reduce="board_array => board_array.id" 
                    label="name" 
                    placeholder="Select Board"
                    @input="boardData" 
                    v-model="boards" 
                   />

               </div>
            </div>
            <div  class="col-md-3 col-lg-3 col-xs-2 col-sm-2">
               <div class="form-group">
                     <v-text-field
                      label="Gramage"
                      v-model="gramage"
                      id="gramage"
                      disabled
                      type="number"
                      outlined
                    ></v-text-field>

               </div>
            </div>
            <div  class="col-md-3 col-lg-3 col-xs-2 col-sm-2">
               <div class="form-group">
                     <v-text-field
                      label="Price Per Kg"
                      v-model="price"
                      id="price"
                      disabled
                      type="number"
                      outlined
                    ></v-text-field>

               </div>
            </div>

          </div> 
          <div class="row">    
            <div  class="col-md-2 col-lg-2 col-xs-2 col-sm-2">
               <div class="form-group">
                     <v-text-field
                      label="Length"
                      v-model="length"
                      type="number"
                      outlined

                    ></v-text-field>

               </div>
            </div>
            <div  class="col-md-2 col-lg-2 col-xs-2 col-sm-2">
               <div class="form-group">
                     <v-text-field
                      label="Width"
                      v-model="width"
                      type="number"
                      outlined
                     
                    ></v-text-field>

               </div>
            </div>
            <div  class="col-md-2 col-lg-2 col-xs-2 col-sm-2">
               <div class="form-group">
                     <v-text-field
                      label="Transport"
                      v-model="transport"
                      type="number"
                      outlined
                      
                    ></v-text-field>

               </div>
            </div>
            <div  class="col-md-2 col-lg-2 col-xs-2 col-sm-2">
               <div class="form-group">
                     <v-text-field
                      label="# of Packets"
                      v-model="packets"
                      type="number"
                      outlined
                    ></v-text-field>

               </div>
            </div>
             <div  class="col-md-2 col-lg-2 col-xs-2 col-sm-2">
              <div class="form-group">
                 <v-text-field
                  label="# Of Boxes"
                  v-model="boxes"
                  type="number"
                  outlined
            
                ></v-text-field>
              </div>
            </div>
          </div>
        </v-card>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <v-card elevation="2">
          <div class="row">
              <h3 style="margin-left: 20px">PRINTING COST / BOX</h3>
          </div>
          <div class="row">    
            <div  class="col-md-4 col-lg-4 col-xs-2 col-sm-2">
               <div class="form-group">
                     <v-text-field
                      label="# Of Colors"
                      v-model="colors_count"
                      type="number"
                      outlined
                      v-on:change="calculatePlateDyeCost"
                
                    ></v-text-field>

               </div>
            </div>
            <div  class="col-md-4 col-lg-4 col-xs-2 col-sm-2">
               <div class="form-group">
                     <v-text-field
                      label="# of UPS"
                      v-model="ups_count"
                      type="number"
                      outlined
                     
                    ></v-text-field>

               </div>
            </div>
            <div  class="col-md-4 col-lg-4 col-xs-2 col-sm-2">
               <div class="form-group">
                     <v-text-field
                      label="Printing Cost"
                      v-model="print_cost"
                      type="number"
                      outlined
                     
                    ></v-text-field>

               </div>
            </div>
          </div>
        </v-card>
      </div>
    </div>
    <v-form ref="lamination_form">
      <div class="row" v-if="lamination == true">
        <div class="col-md-12">
          <v-card elevation="2">
            <div class="row">
                <h3 style="margin-left: 20px">LAMINATION COST / BOX</h3>
            </div>
            <div class="row">    
              <div  class="col-md-4 col-lg-4 col-xs-2 col-sm-2">
                 <div class="form-group">
                       <v-text-field
                        label="Length"
                        v-model="lamination_length"
                        type="number"
                        outlined
                        v-mask="'#############'"
                        :rules="rules.lengthRules"
                  
                      ></v-text-field>

                 </div>
              </div>
              <div  class="col-md-4 col-lg-4 col-xs-2 col-sm-2">
                 <div class="form-group">
                       <v-text-field
                        label="Width"
                        v-model="lamination_width"
                        type="number"
                        outlined
                       
                      ></v-text-field>

                 </div>
              </div>
              <div  class="col-md-4 col-lg-4 col-xs-2 col-sm-2">
                 <div class="form-group">
                       <v-text-field
                        label="Cost / Inch"
                        v-model="lamination_cost_per_inch"
                        type="number"
                        outlined
                       
                      ></v-text-field>

                 </div>
              </div>
            </div>
          </v-card>
        </div>
      
      </div>
    </v-form>  
    <div class="row" v-if="corrugation == true">
      <div class="col-md-12">
        <v-card elevation="2">
          <div class="row">
              <h3 style="margin-left: 20px">CORRUGATION COST / BOX</h3>
          </div>
          <div class="row">    
            <div  class="col-md-3 col-lg-3 col-xs-2 col-sm-2">
               <div class="form-group">
                     <v-text-field
                      label="Cutting Size"
                      v-model="corrugation_cutting_size"
                      type="number"
                      outlined
                
                    ></v-text-field>

               </div>
            </div>
            <div  class="col-md-3 col-lg-3 col-xs-2 col-sm-2">
               <div class="form-group">
                     <v-text-field
                      label="Width"
                      v-model="corrugation_width"
                      type="number"
                      outlined
                     
                    ></v-text-field>

               </div>
            </div>
            <div  class="col-md-3 col-lg-3 col-xs-2 col-sm-2">
               <div class="form-group">
                     <v-text-field
                      label="Cost / Sq Inch"
                      v-model="corrugation_per_square_inch"
                      type="number"
                      outlined
                     
                    ></v-text-field>

               </div>
            </div>
            <div  class="col-md-3 col-lg-3 col-xs-2 col-sm-2">
               <div class="form-group">
                     <v-text-field
                      label="Transport"
                      v-model="corrugation_transport"
                      type="number"
                      outlined
                     
                    ></v-text-field>

               </div>
            </div>
          </div>
        </v-card>
      </div>
    
    </div>
    <div class="row" v-if="corrugation == true">
      <div class="col-md-12">
        <v-card elevation="2">
          <div class="row">
              <h3 style="margin-left: 20px">CORRUGATION GLUE COST / BOX</h3>
          </div>
          <div class="row">    
            <div  class="col-md-6 col-lg-6 col-xs-2 col-sm-2">
              <div class="form-group">
               <v-text-field
                label="Glue Rate"
                v-model="corrugation_glue_rate"
                type="number"
                outlined
          
              ></v-text-field>

              </div>
            </div>
          </div>
        </v-card>
      </div>
    
    </div>
    <div class="row" v-if="pasting == true">
      <div class="col-md-12">
        <v-card elevation="2">
          <div class="row">
              <h3 style="margin-left: 20px">PASTING COST / BOX</h3>
          </div>
          <div class="row">    
            <div  class="col-md-6 col-lg-6 col-xs-2 col-sm-2">
              <div class="form-group">
               <v-text-field
                label="Labor"
                v-model="pasting_labor"
                type="number"
                outlined
          
              ></v-text-field>

              </div>
            </div>
          </div>
        </v-card>
      </div>
    
    </div>
    <div class="row">
      <div class="col-md-12">
        <v-card elevation="2">
          <div class="row">
              <h3 style="margin-left: 20px">PACKING COST / BOX</h3>
          </div>
          <div class="row">    
            <div  class="col-md-6 col-lg-6 col-xs-2 col-sm-2">
              <div class="form-group">
               <v-text-field
                label="Carton Price"
                v-model="carton_price"
                type="number"
                outlined
          
              ></v-text-field>

              </div>
            </div>
            <div  class="col-md-6 col-lg-6 col-xs-2 col-sm-2">
              <div class="form-group">
               <v-text-field
                label="Boxes / Carton"
                v-model="cartons_count"
                type="number"
                outlined
          
              ></v-text-field>

              </div>
            </div>
          </div>
        </v-card>
      </div>
    
    </div>
    <div class="row" v-if="plate_cost == true">
      <div class="col-md-12">
        <v-card elevation="2">
          <div class="row">
              <h3 style="margin-left: 20px">PLATE COST / BOX</h3>
          </div>
          <div class="row">    
            <div  class="col-md-6 col-lg-6 col-xs-2 col-sm-2">
              <div class="form-group">
               <v-text-field
                label="# Of Colors"
                v-model="colors_count"
                type="number"
                outlined
                v-on:change="calculatePlateDyeCost"
          
              ></v-text-field>

              </div>
            </div>
            <div  class="col-md-6 col-lg-6 col-xs-2 col-sm-2">
              <div class="form-group">
               <v-text-field
                label="Per Plate Cost"
                v-model="per_plate_cost"
                type="number"
                outlined
                 v-on:change="calculatePlateDyeCost"
          
              ></v-text-field>

              </div>
            </div>
          </div>
        </v-card>
      </div>
    
    </div>
    <div class="row" v-if="dye_cost_box == true">
      <div class="col-md-12">
        <v-card elevation="2">
          <div class="row">
              <h3 style="margin-left: 20px">DYE COST / BOX</h3>
          </div>
          <div class="row">    
            <div  class="col-md-6 col-lg-6 col-xs-2 col-sm-2">
              <div class="form-group">
               <v-text-field
                label="Dye Cost"
                v-model="per_dye_cost"
                type="number"
                outlined
          
              ></v-text-field>

              </div>
            </div>
          </div>
        </v-card>
      </div>
    
    </div>
    <div class="row" v-if="dye_cost_box == true && plate_cost == true">
      <div class="col-md-12">
        <v-card elevation="2">
          <div class="row">
              <h3 style="margin-left: 20px">PLATE & DYE COST / BOX</h3>
          </div>
          <div class="row">
          <div  class="col-md-4 col-lg-4 col-xs-2 col-sm-2">
              <div class="form-group">
               <v-text-field
                label="Plate Cost"
                v-model="plate_cost_box"
                type="number"
                outlined
                disabled
                id="plate_cost_box"
          
              ></v-text-field>

              </div>
            </div>    
            <div  class="col-md-4 col-lg-4 col-xs-2 col-sm-2">
              <div class="form-group">
               <v-text-field
                label="Dye Cost"
                v-model="per_dye_cost"
                type="number"
                outlined
                disabled 
            
              ></v-text-field>

              </div>
            </div>
            <div  class="col-md-4 col-lg-4 col-xs-2 col-sm-2">
              <div class="form-group">
               <v-text-field
                label="Profit Percentage"
                v-model="profit_percentage"
                type="number"
                outlined
          
              ></v-text-field>

              </div>
            </div>
          </div>
        </v-card>
      </div>
    
    </div>
    <div class="row">
      <div class="col-md-12">
        <v-card elevation="2">
          <div class="row">
            <div class="col-md-3">
            </div>
            <div class="col-md-7">
               <v-btn
              style="margin-left: 160px ; margin-top: 20px"
              class="primary"
              dense
              @click="calculateCost"
              elevation="2"
              x-large
              >
              Calculate Cost
              </v-btn>
              <v-btn
              style="margin-left: 160px ; margin-top: 20px"
              class="primary"
              dense
              @click="submit"
              elevation="2"
              x-large
              >
              Submit
              </v-btn>
            </div>
              
             
          </div>
          <div class="row">    
            <div  class="col-md-4 col-lg-4 col-xs-2 col-sm-2">
               <div class="form-group">
                     <v-text-field
                      label="Board Cost"
                      v-model="board_cost"
                      type="number"
                      outlined
                      disabled
                      id="b1"
                
                    ></v-text-field>

               </div>
            </div>
            <div  class="col-md-4 col-lg-4 col-xs-2 col-sm-2">
               <div class="form-group">
                     <v-text-field
                      label="Printing Cost"
                      v-model="printing_cost"
                      type="number"
                      outlined
                      disabled
                      id="p1"
                
                    ></v-text-field>

               </div>
            </div>
            <div  class="col-md-4 col-lg-4 col-xs-2 col-sm-2">
               <div class="form-group">
                     <v-text-field
                      label="Lamination Cost"
                      v-model="lamination_cost"
                      type="number"
                      outlined
                      disabled
                      id="l1"
                
                    ></v-text-field>

               </div>
            </div>
          </div>
          <div class="row">    
            <div  class="col-md-4 col-lg-4 col-xs-2 col-sm-2">
               <div class="form-group">
                     <v-text-field
                      label="Corrugation Cost"
                      v-model="corrugation_cost"
                      type="number"
                      outlined
                      disabled
                      id="corrugation_id"
                
                    ></v-text-field>

               </div>
            </div>
            <div  class="col-md-4 col-lg-4 col-xs-2 col-sm-2">
               <div class="form-group">
                     <v-text-field
                      label="Pasting Cost"
                      v-model="pasting_cost"
                      type="number"
                      outlined
                      disabled
                      id="pasting_id"
                
                    ></v-text-field>

               </div>
            </div>
            <div  class="col-md-4 col-lg-4 col-xs-2 col-sm-2">
               <div class="form-group">
                     <v-text-field
                      label="Packing Cost"
                      v-model="packing_cost"
                      type="number"
                      outlined
                      disabled
                      id="packking_id"
                
                    ></v-text-field>

               </div>
            </div>
          </div>
           <div class="row">    
            <div  class="col-md-4 col-lg-4 col-xs-2 col-sm-2">
               <div class="form-group">
                     <v-text-field
                      label="Corrugation Glue Cost"
                      v-model="corrugation_glue_cost"
                      type="number"
                      outlined
                      disabled
                      id="corrugation_glue_id"
                
                    ></v-text-field>

               </div>
            </div>
            <div  class="col-md-4 col-lg-4 col-xs-2 col-sm-2">
               <div class="form-group">
                     <v-text-field
                      label="Plat & Dye Cost"
                      v-model="plate_dye_cost"
                      type="number"
                      outlined
                      disabled
                      id="plate_dye_id"
                
                    ></v-text-field>

               </div>
            </div>
            <div  class="col-md-4 col-lg-4 col-xs-2 col-sm-2">
               <div class="form-group">
                     <v-text-field
                      label="Profit Percentage"
                      v-model="profit_percentage_total"
                      type="number"
                      outlined
                      id="profit_percentage_id"
                      v-on:change="calculatePricePerBox"
                
                    ></v-text-field>

               </div>
            </div>
          </div>
           <div class="row">    
            <div  class="col-md-4 col-lg-4 col-xs-2 col-sm-2">
               <div class="form-group">
                     <v-text-field
                      label="Cost / Box"
                      v-model="total_cost_per_box"
                      type="number"
                      outlined
                      disabled
                      id="cost_per_box"
                
                    ></v-text-field>

               </div>
            </div>
            <div  class="col-md-4 col-lg-4 col-xs-2 col-sm-2">
               <div class="form-group">
                    <v-text-field
                      label="Price / Box"
                      v-model="price_per_box"
                      type="number"
                      outlined
                      disabled
                      id="price_per_box"
                       
                
                    ></v-text-field>

               </div>
            </div>
          </div>
        </v-card>
      </div>
    </div>


    

    </div>
</v-app>  
</template>

<style type="text/css">

  .v-input--selection-controls__input input[role="checkbox"], .v-input--selection-controls__input input[role="radio"], .v-input--selection-controls__input input[role="switch"] 
   {
    opacity: 1;
   } 
/*   .v-text-field > .v-input__control > .v-input__slot > .v-text-field__slot

    {
      border: .05px solid purple;
    }*/
    .vs--searchable .vs__dropdown-toggle
    {
      /*border: .05px solid purple;*/
      height: 60px;
    }
    .v-sheet.v-card
    {
      border: 0.5px solid purple;
    }
</style>

<script>


  export default {

  props: ['costing'],
data: function() {
    return {


      radios: '1',
      is_local:'0',
      irregular:true,
      printing:false,
      plate_cost:false,
      dye_cost_box:false,
      pasting:false,
      lamination:false,
      corrugation:false,
      // packing:true,

      vendors:'',
      boards:'',
      gramage:0,
      price:0,
      length:0,
      width:0,
      boxes:0,
      packets:0,
      transport:0,
      board_cost:0,
      printing_cost:0,

      lamination_length:0,
      lamination_width:0,
      lamination_cost_per_inch:0,
      lamination_cost:0,

      corrugation_cutting_size:0,
      corrugation_per_square_inch:0,
      corrugation_width:0,
      corrugation_transport:0,
      corrugation_glue_rate:0,
      corrugation_cost:0,
      corrugation_glue_cost:0,

      pasting_labor:0,
      pasting_cost:0,

      cartons_count:0,
      carton_price:0,
      packing_cost:0,

      per_plate_cost:0,

      per_dye_cost:0,

      plate_cost_box:0,
      dye_box:0,
      profit_percentage:0,

      plate_dye_cost:0,

      profit_percentage_total:0,

      product_id:'',
      is_proofing:0,
      customer_id:'',
      quality:'',
      type:'',


      result1:0,
      result2:0,
      result3:0,
      result4:0,
      result5:0,
      result_pasting:0,
      result_6:0,

      board_cost_box:0,
      total_printing_cost_box:0,
      lamination_cost_box:0,
      packing_rate:0,
      pasting_labor_cost:0,
      plate_dye_rate_box:0,
      corrugation_rate_box:0,
      corrugation_glue_rate_box:0,


      valid: false,
      colors_count: 0,
      ups_count:0,
      print_cost:0,
      total_cost_per_box:0,
      price_per_box:0,
      vendor_array:[],
      board_array:[],
      rows:['printing'],
       base_address:'http://127.0.0.1:8000/api/',

      rules: {
        lengthRules: [
            v => !!v || 'Length is required',
            v => (v && v.length <= 28) || 'Title must be less than 28 characters'
            ],
      }
    }
  }, 
  mounted() {

    var self=this; 
    axios.get(this.base_address+"getvendors").then((response) => {
      // console.log(response)
      var temp = response.data;
      temp.forEach(function(data){
        self.vendor_array.push(data);
      });
    })



  },

  methods:{

    regular(id)
    {
      console.log(id)
    },

     vendorBoards(id)
     {
        // this.vendor_array=[];
        var self=this; 
        this.board_array=[];
        axios.get(this.base_address+"getboards", { params: { id: id } }).then((response) => {
          // console.log(response)
          var temp = response.data;
          temp.forEach(function(data){
            self.board_array.push(data);

          });
        })
     },
     boardData(id)
     {
        var self=this; 
        axios.get(this.base_address+"getboarddetails", { params: { id: id } }).then((response) => {
          console.log(response.data)
          var temp= response.data;
          $('#gramage').val(temp.gramage);
          $('#price').val(temp.per_kg_cost);
        })

     },
     checkBoxValues()
     {
        if(this.lamination == false)
        {
          this.lamination_length= 0;
          this.lamination_width=0;
          this.lamination_cost_per_inch=0;
          this.lamination_cost=0;
          this.lamination_cost_box=0;
          alertify.success('customers  successfully');
        }

     },
     calculateCost()
     {

        //==============================BOARD CALCULATOR =====================================//
        var gramage=$('#gramage').val();
        var price=$('#price').val();

        var packet_per_weight= (parseFloat(this.length) * parseFloat(this.width) * parseFloat(gramage)) / 15500;
        var margin= parseFloat(price) +parseFloat(this.transport);
        if(this.boxes == 0)
        {
           this.result1=(packet_per_weight * margin * parseFloat(this.packets)) / 1;

          $('#b1').val(parseFloat(this.result1.toFixed(2)));

          this.board_cost_box=parseFloat(this.result1.toFixed(2));
        }
        else
        {
          this.result1=(packet_per_weight * margin * parseFloat(this.packets)) / parseInt(this.boxes);

          $('#b1').val(parseFloat(this.result1.toFixed(2)));

          this.board_cost_box=parseFloat(this.result1.toFixed(2));
        }
       //  // //==============================BOARD CALCULATOR =====================================//
        

       //  // //==============================PRINTING CALCULATOR =====================================//
       if(this.ups_count == 0)
       {
        this.result2= (parseInt(this.colors_count) * parseInt(this.print_cost)) / ( 1 * 1000);
        $('#p1').val(parseFloat(this.result2.toFixed(2)));

        this.total_printing_cost_box= parseFloat(this.result2.toFixed(2));        
       }
       else
       {
        this.result2= (parseInt(this.colors_count) * parseInt(this.print_cost)) / ( parseInt(this.ups_count) * 1000);
        $('#p1').val(parseFloat(this.result2.toFixed(2)));

        this.total_printing_cost_box= parseFloat(this.result2.toFixed(2));        
       }

       //  // //==============================PRINTING CALCULATOR =====================================//

       //  //  //==============================LAMIINATION CALCULATOR =====================================//
       if (this.$refs.lamination_form.validate()) 
       {
         if(this.ups_count == 0)
         {
          this.result3= (parseInt(this.lamination_length) * parseInt(this.lamination_width) * parseInt(this.lamination_cost_per_inch) / 144)  /  1;
          $('#l1').val(parseFloat(this.result3.toFixed(2)));  

          this.lamination_cost_box = parseFloat(this.result3.toFixed(2));      
         }
         else
         {
          this.result3= (parseInt(this.lamination_length) * parseInt(this.lamination_width) * parseInt(this.lamination_cost_per_inch) / 144)  / parseInt(this.ups_count) ;
          $('#l1').val(parseFloat(this.result3.toFixed(2))); 
          this.lamination_cost_box = parseFloat(this.result3.toFixed(2));    
         }
       }

       //  //==============================LAMIINATION CALCULATOR =====================================//

       // //==============================PACKING CALCULATOR =====================================//
       if(this.cartons_count == 0)
       {
          this.result4= parseInt(this.carton_price) / 1;
          $('#packking_id').val(parseFloat(this.result4.toFixed(2)));
          this.packing_rate= parseFloat(this.result4.toFixed(2));        
       }
       else
       {
          this.result4= parseInt(this.carton_price) / parseInt(this.cartons_count);
          $('#packking_id').val(parseFloat(this.result4.toFixed(2)));
          this.packing_rate= parseFloat(this.result4.toFixed(2));
       }
       //  //==============================PACKING CALCULATOR =====================================//

       //   //==============================PACKING CALCULATOR =====================================//
          this.result_pasting= this.pasting_labor;
          $('#pasting_id').val(this.result_pasting);

          this.pasting_labor_cost=this.result_pasting;
       //  //==============================PACKING CALCULATOR =====================================//

       //  //==============================PLATE COST AND DYE DOST CALCULATOR =====================================//
        var percentage=this.profit_percentage / 100;
        var plate_box=(parseInt(this.per_plate_cost) + parseInt(this.per_dye_cost)) * parseInt(percentage)  +(parseInt(this.per_plate_cost) + parseInt(this.per_dye_cost));
        if(this.boxes == 0)
        {
          this.result5= parseInt(this.per_dye_cost) / 1;
          $('#plate_dye_id').val(parseInt(this.result5));

          this.plate_dye_rate_box=parseInt(this.result5);          
        }
        else
        {
          this.result5= parseInt(this.per_dye_cost) / parseInt(this.boxes);
          $('#plate_dye_id').val(parseInt(this.result5));

          this.plate_dye_rate_box=parseInt(this.result5);
        }

       //  //==============================PLATE COST AND DYE DOST =====================================

       //  //==============================CORRUGATION CALCULATOR =====================================//
        var corrugation1= (parseInt(this.corrugation_width)* parseInt(this.corrugation_per_square_inch)) + parseInt(this.corrugation_transport);
        if(this.corrugation_cutting_size == 0)
        {
          var temp =2400 / 1 ;         
        }
        else
        {
          var temp =2400 / parseInt(this.corrugation_cutting_size) ;
        }
 
        this.result6=parseInt(corrugation1) * parseInt(temp);

        $('#corrugation_id').val(parseInt(this.result6));

        this.corrugation_rate_box=parseInt(this.result6);

        this.corrugation_glue_cost=(parseInt(this.corrugation_width)* parseInt(this.corrugation_cutting_size) * parseInt(this.corrugation_glue_rate)) /  100;

         $('#corrugation_glue_id').val(parseInt(this.corrugation_glue_cost)); 
         this.corrugation_glue_rate_box=parseInt(this.corrugation_glue_cost);
        //==============================CORRUGARION CALCULATOR =====================================//

        //==============================COST PER BOX CALCULATOR =====================================//
      
            this.total_cost_per_box=this.board_cost_box + this.total_printing_cost_box +this.lamination_cost_box+this.packing_rate+ this.pasting_labor_cost+ this.corrugation_rate_box+ this.corrugation_glue_cost;            


           $('#cost_per_box').val(parseInt(this.total_cost_per_box));
        //==============================COST PER BOX CALCULATOR =====================================//          


     },
     calculatePricePerBox()
     {
      var temp= this.profit_percentage_total /100 ;

      this.price_per_box=parseFloat(this.total_cost_per_box.toFixed(2)) + parseFloat(temp) + this.plate_dye_rate_box ;
      $('#price_per_box').val(parseFloat(this.price_per_box.toFixed(2)));

     },
     calculatePlateDyeCost()
     {
      var result1= parseInt(this.colors_count) * parseInt(this.per_plate_cost);
      $('#plate_cost_box').val(result1);
     },
     submit()
     {
        
        var request ={
          product_id: this.costing.product_id,
          is_proofing:this.costing.type,
          is_regular_board: this.radios,
          is_local:this.costing.quality,
          is_draft:0,

          board_length:this.length,
          board_width:this.width,
          board_gramage:this.gramage,
          board_price:this.price,
          board_box_transport:this.transport,
          no_of_board_packets:this.packets,
          no_of_printed_boxes:this.boxes,
          board_cost_per_box:parseFloat(this.result1.toFixed(2)),

          no_of_colors:this.colors_count,
          printing_cost:this.print_cost,
          no_of_ups:this.ups_count,
          total_printing_cost_per_box:parseFloat(this.result2 .toFixed(2)),
          
          lamination_width:this.lamination_width,
          lamination_length:this.lamination_length,
          lamination_cost_per_square_inch:this.lamination_cost_per_inch,
          lamination_cost_per_box:parseFloat(this.result3 .toFixed(2)),
          
          no_of_boxed_in_carton:this.cartons_count,
          carton_price:this.carton_price,
          packing_rate_per_box:this.packing_cost,

          pasting_labor_cost_per_box:this.pasting_cost,

          colors_plate_cost:this.colors_count,
          per_plate_cost:this.per_plate_cost,
          plate_cost:this.plate_cost,
          dye_cost:this.per_dye_cost,
          plate_and_dye_rate_per_box:this.plate_dye_cost,
          profit_percentage_of_dye_plates:this.profit_percentage,

          corrugation_cutting_size:this.corrugation_cutting_size,
          corrugation_width:this.corrugation_width,
          corrugation_per_square_inch_cost:this.corrugation_per_square_inch,
          corrugation_transport:this.corrugation_transport,
          corrugation_rate_per_box:this.corrugation_cost,
          glue_rate:this.corrugation_glue_rate,
          corrugation_glue_rate_per_box:this.corrugation_glue_cost,

          total_cost_per_box:this.cost_per_box,
          profit_percentage_of_total_price:this.profit_percentage_total,
          total_price_per_box_comments:this.price_per_box,


          

        };
        console.log(request)
        var self=this; 
        axios.post(this.base_address+"submitcosting", request).then((response) => {
            
           window.location.href="http://localhost:8000/add-costing";
         
          // var temp = response.data;
          // temp.forEach(function(data){
          //   self.vendor_array.push(data);
          // });
        })        
     }
    // vednorSelected(id) 
    // {
    //   console.log(id)
    //   // this.getDepartments(unit);  
    // },

    // calculatePrinting()
    // {
    //   if(this.colors_count)
    //   {
    //     // console.log(this.colors_count)
    //   }
    //   else(this.print_cost)
    //   { 
       
    //     var calcuted_cost=(parseInt(this.colors_count)  * parseInt(this.print_cost)) / (parseInt(this.ups_count)/10000);
    //      $( "#cost_per_box" ).val( calcuted_cost );
    //     // this.rows.push(cost);
    //   }
    // }
  }
}
</script>