<template>
 <v-app> 
  <div class="container">
    <v-card 
    elevation="2"
    >
    <div class="row">
      <v-radio-group
      v-model="radios"
      row

      style="margin-left: 20px"
    >
      <v-radio
        label="Regular"
        value="1"
      ></v-radio>
      <v-radio
        label="Irregular"
        value="0"
      ></v-radio>
    </v-radio-group>  
    </div>
    </v-card> 
    <br />
    <v-card elevation="2">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-2">
            <v-checkbox
     
              :label="`Lamination`"
               v-model="lamination"
               color="red"
               @click="checkBoxValues">

            ></v-checkbox>            
          </div>
          <div class="col-md-2">
            <v-checkbox
       
                :label="`Corrugation`"
                 v-model="is_corrugation"
                 color="red darken-3"
                 @click="checkCorrugationBoxValues">

            ></v-checkbox>           
          </div>
          <div class="col-md-2">
            <v-checkbox
       
                :label="`Pasting`"
                 v-model="pasting"
                 color="red darken-3"
                 @click="checkPastingBoxValues">

            ></v-checkbox>           
          </div>
          <div class="col-md-2">
            <v-checkbox
       
                :label="`Packing`"
                 v-model="packing"
                 color="red darken-3"
                 @click="checkPackingBoxValues">

            ></v-checkbox>           
          </div>
          <div class="col-md-2">
            <v-checkbox
       
                :label="`Plate & Dye Cost`"
                 v-model="plate_cost"
                 color="red darken-3"
                 @click="checkBoxPlateValues">

            ></v-checkbox>           
          </div>
          <div class="col-md-2">
            <v-checkbox
       
                :label="`Discount For customer`"
                 v-model="discounted_offer"
                 color="red darken-3"
                 @click="checkDiscountedOffer">

            ></v-checkbox>           
          </div>
   <!--        <div class="col-md-2">
            <v-checkbox
       
                :label="`Dye Cost`"
                 v-model="dye_cost_box"
                 color="red darken-3"
                 @click="checkBoxPlateValues">

            ></v-checkbox>           
          </div> -->

        </div>      
      </div>
    </v-card>  
    <br />       
   <v-form ref="boardForm" >          
    <div class="row">
      <div class="col-md-12">
        <v-card elevation="2">
          <div class="row">
              <h3 style="margin-left: 20px">BOARD COST / BOX</h3>
          </div>
          <div class="row" style="padding-left: 10px;padding-right: 10px">    
            <div class="col-md-3 col-lg-3 col-xs-2 col-sm-2">
               <div class="form-group">
                  <v-select
                   
                    :options="vendor_array"
                    :reduce="vendor_array => vendor_array.id" 
                    label="name" 
                    placeholder="Select Vendor"
                    @input="vendorBoards" 
                    v-model="vendors"
                    
                   />
                   <p id="vendor_error" style="display: none; color: red">Vendor can not be null</p>

               </div>
            </div>
            <div  class="col-md-3 col-lg-3 col-xs-2 col-sm-2">
               <div class="form-group">
                     <v-select
                    :options="board_array"
                    :reduce="board_array => board_array.id" 
                    label="name" 
                    placeholder="Select Board"
                    @input="boardData" 
                    v-model="boards" 

                   />
                   <p id="board_error" style="display: none; color: red">Board can not be null</p>

               </div>
            </div>
            <div  class="col-md-3 col-lg-3 col-xs-2 col-sm-2">
               <div class="form-group">
      <!--                <v-text-field
                      v-model="gramage"
                      
                      label="gramage" 
                      placeholder="Select Gramage"
                      @input="gramageData"                     
                    ></v-text-field> -->
                     <v-select

                    :options="gramage_array"
                    :reduce="gramage_array => gramage_array.id" 
                    label="gramage" 
                    placeholder="Select Gramage"
                    @input="gramageData" 
                    v-model="grams"

                   />

               </div>
            </div>
            <div  class="col-md-3 col-lg-3 col-xs-2 col-sm-2">
               <div class="form-group">
                     <v-text-field
                      label="Price Per Kg"
                      v-model="price"
                      id="price"
                      disabled
                      type="number"
                      outlined
                    ></v-text-field>

               </div>
            </div>

          </div> 
          <div class="row" style="padding-left: 10px;padding-right: 10px">    
            <div  class="col-md-2 col-lg-2 col-xs-2 col-sm-2">
               <div class="form-group">
                     <v-text-field
                      label="Width"
                      v-model="width"
                      type="number"
                      outlined
                      :rules="rules.widthRules"
                      @keypress="onlyNumber" 
                    ></v-text-field>

               </div>
            </div>
            <div  class="col-md-2 col-lg-2 col-xs-2 col-sm-2">
               <div class="form-group">
                     <v-text-field
                      label="Length"
                      v-model="length"
                      type="number"
                      outlined
                       :rules="rules.lengthRules"
                     @keypress="onlyNumber"

                    ></v-text-field>

               </div>
            </div>            
            <div  class="col-md-2 col-lg-2 col-xs-2 col-sm-2">
               <div class="form-group">
                     <v-text-field
                      label="Transport"
                      v-model="transport"
                      type="number"
                      outlined
                       :rules="rules.transportRules"
                       @keypress="onlyNumber"
                      
                    ></v-text-field>

               </div>
            </div>
            <div  class="col-md-2 col-lg-2 col-xs-2 col-sm-2">
               <div class="form-group">
                     <v-text-field
                      label="# of Packets"
                      v-model="packets"
                      type="number"
                      outlined
                       :rules="rules.packetRules"
                       v-mask="'#######'"
                    ></v-text-field>

               </div>
            </div>
             <div  class="col-md-2 col-lg-2 col-xs-2 col-sm-2">
              <div class="form-group">
                 <v-text-field
                  label="# Of Printed Boxes"
                  v-model="boxes"
                  type="number"
                  outlined
                   :rules="rules.boxesRules"
                   v-mask="'#########'"
            
                ></v-text-field>
              </div>
            </div>
          </div>
        </v-card>
      </div>
    </div>
    <div class="row" >
      <div class="col-md-12">
        <v-card elevation="2">
          <div class="row">
              <h3 style="margin-left: 20px">PRINTING COST / BOX</h3>
          </div>
          <div class="row" style="padding-left: 10px;padding-right: 10px">    
            <div  class="col-md-4 col-lg-4 col-xs-2 col-sm-2">
               <div class="form-group">
                     <v-text-field
                      label="# Of Colors"
                      v-model="colors_count"
                      type="number"
                      outlined
                      v-on:change="updateColor"
                      v-mask="'#######'"
                
                    ></v-text-field>

               </div>
            </div>
            <div  class="col-md-4 col-lg-4 col-xs-2 col-sm-2">
               <div class="form-group">
                     <v-text-field
                      label="# of UPS"
                      v-model="ups_count"
                      type="number"
                      outlined
                     v-mask="'########'"
                    ></v-text-field>

               </div>
            </div>
            <div  class="col-md-4 col-lg-4 col-xs-2 col-sm-2">
               <div class="form-group">
                     <v-text-field
                      label="Printing Cost"
                      v-model="print_cost"
                      type="number"
                      outlined
                      @keypress="onlyNumber"
                     
                    ></v-text-field>

               </div>
            </div>
          </div>
        </v-card>
      </div>
    </div>

    <div class="row" v-if="lamination == true">
      <div class="col-md-12">
        <v-card elevation="2">
          <div class="row">
              <h3 style="margin-left: 20px">LAMINATION COST / BOX</h3>
          </div>
          <div class="row" style="padding-left: 10px;padding-right: 10px">    
            <div  class="col-md-4 col-lg-4 col-xs-2 col-sm-2">
               <div class="form-group">
                     <v-text-field
                      label="Width"
                      v-model="lamination_width"
                      type="number"
                      outlined
                      @keypress="onlyNumber"
                     
                    ></v-text-field>

               </div>
            </div>
            <div  class="col-md-4 col-lg-4 col-xs-2 col-sm-2">
               <div class="form-group">
                  
                    <v-text-field
                      label="Length"
                      v-model="lamination_length"
                      type="number"
                      outlined
                      @keypress="onlyNumber"
                
                    ></v-text-field>

               </div>
            </div>
            <div  class="col-md-4 col-lg-4 col-xs-2 col-sm-2">
               <div class="form-group">
                     <v-text-field
                      label="Cost / Inch"
                      v-model="lamination_cost_per_inch"
                      type="number"
                      outlined
                     @keypress="onlyNumber"
                     
                    ></v-text-field>

               </div>
            </div>
          </div>
        </v-card>
      </div>
    
    </div>
    <div class="row" v-if="is_corrugation == true">
      <div class="col-md-12">
        <v-card elevation="2">
          <div class="row">
              <h3 style="margin-left: 20px">CORRUGATION COST / BOX</h3>
          </div>
          <div class="row" style="padding-left: 10px;padding-right: 10px">    
            <div  class="col-md-3 col-lg-3 col-xs-2 col-sm-2">
               <div class="form-group">
                     <v-text-field
                      label="Cutting Size"
                      v-model="corrugation_cutting_size"
                      type="number"
                      outlined
                      @keypress="onlyNumber"
                
                    ></v-text-field>

               </div>
            </div>
            <div  class="col-md-3 col-lg-3 col-xs-2 col-sm-2">
               <div class="form-group">
                     <v-text-field
                      label="Width"
                      v-model="corrugation_width"
                      type="number"
                      outlined
                      @keypress="onlyNumber"
                     
                    ></v-text-field>

               </div>
            </div>
            <div  class="col-md-3 col-lg-3 col-xs-2 col-sm-2">
               <div class="form-group">
                     <v-text-field
                      label="Cost / Sq Inch"
                      v-model="corrugation_per_square_inch"
                      type="number"
                      outlined
                      @keypress="onlyNumber"
                     
                    ></v-text-field>

               </div>
            </div>
            <div  class="col-md-3 col-lg-3 col-xs-2 col-sm-2">
               <div class="form-group">
                     <v-text-field
                      label="Transport"
                      v-model="corrugation_transport"
                      type="number"
                      outlined
                      @keypress="onlyNumber"
                     
                    ></v-text-field>

               </div>
            </div>
          </div>
        </v-card>
      </div>
    
    </div>
    <div class="row" v-if="is_corrugation == true">
      <div class="col-md-12">
        <v-card elevation="2">
          <div class="row">
              <h3 style="margin-left: 20px">CORRUGATION GLUE COST / BOX</h3>
          </div>
          <div class="row" style="padding-left: 10px;padding-right: 10px">    
            <div  class="col-md-6 col-lg-6 col-xs-2 col-sm-2">
              <div class="form-group">
               <v-text-field
                label="Glue Rate"
                v-model="corrugation_glue_rate"
                type="number"
                outlined
               @keypress="onlyNumber"
          
              ></v-text-field>

              </div>
            </div>
          </div>
        </v-card>
      </div>
    
    </div>
    <div class="row" v-if="pasting == true">
      <div class="col-md-12">
        <v-card elevation="2">
          <div class="row">
              <h3 style="margin-left: 20px">PASTING COST / BOX</h3>
          </div>
          <div class="row" style="padding-left: 10px;padding-right: 10px">    
            <div  class="col-md-6 col-lg-6 col-xs-2 col-sm-2">
              <div class="form-group">
               <v-text-field
                label="Labor"
                v-model="pasting_labor"
                type="number"
                outlined
               @keypress="onlyNumber"
                
              ></v-text-field>

              </div>
            </div>
          </div>
        </v-card>
      </div>
    
    </div>
    <div class="row"  v-if="packing == true">
      <div class="col-md-12">
        <v-card elevation="2">
          <div class="row">
              <h3 style="margin-left: 20px">PACKING COST / BOX</h3>
          </div>
          <div class="row" style="padding-left: 10px;padding-right: 10px">    
            <div  class="col-md-6 col-lg-6 col-xs-2 col-sm-2">
              <div class="form-group">
               <v-text-field
                label="Carton Price"
                v-model="carton_price"
                type="number"
                outlined
               @keypress="onlyNumber"
          
              ></v-text-field>

              </div>
            </div>
            <div  class="col-md-6 col-lg-6 col-xs-2 col-sm-2">
              <div class="form-group">
               <v-text-field
                label="Boxes / Carton"
                v-model="cartons_count"
                type="number"
                outlined
                @keypress="onlyNumber"
          
              ></v-text-field>

              </div>
            </div>
          </div>
        </v-card>
      </div>
    
    </div>
    <div class="row" v-if="plate_cost == true">
      <div class="col-md-12">
        <v-card elevation="2">
          <div class="row">
              <h3 style="margin-left: 20px">PLATE & DYE COST / BOX</h3>
          </div>
          <div class="row" style="padding-left: 10px;padding-right: 10px">    
            <div  class="col-md-4 col-lg-4 col-xs-2 col-sm-2">
              <div class="form-group">
               <v-text-field
                label="# Of Colors"
                v-model="colors_new_count"
                id="colors_new_count"
                type="number"
                outlined
                v-mask="'#######'"


          
              ></v-text-field>

              </div>
            </div>
            <div  class="col-md-4 col-lg-4 col-xs-2 col-sm-2">
              <div class="form-group">
               <v-text-field
                label="Per Plate Cost"
                v-model="per_plate_cost"
                type="number"
                outlined
                v-on:change="calculatePlateCost"
                @keypress="onlyNumber"

          
              ></v-text-field>

              </div>
            </div>
            <div  class="col-md-4 col-lg-4 col-xs-2 col-sm-2">
              <div class="form-group">
               <v-text-field
                label="Plate Cost"
                v-model="plate_cost_box"
                type="number"
                outlined
                disabled
                id="plate_cost_box"
          
              ></v-text-field>

              </div>
            </div>
            <div  class="col-md-6 col-lg-6 col-xs-2 col-sm-2">
              <div class="form-group">
               <v-text-field
                label="Dye Cost"
                v-model="per_dye_cost"
                type="number"
                outlined
                 @keypress="onlyNumber"
          
              ></v-text-field>

              </div>
            </div>
            <div  class="col-md-4 col-lg-4 col-xs-2 col-sm-2">
              <div class="form-group">
               <v-text-field
                label="Profit Percentage"
                v-model="profit_percentage"
                type="number"
                outlined
                 @keypress="onlyNumber"

          
              ></v-text-field>

              </div>
            </div>
          </div>
        </v-card>
      </div>
    
    </div>
  </v-form>  
<!--     <div class="row" v-if="dye_cost_box == true">
      <div class="col-md-12">
        <v-card elevation="2">
          <div class="row">
              <h3 style="margin-left: 20px">DYE COST / BOX</h3>
          </div>
          <div class="row">    
            <div  class="col-md-6 col-lg-6 col-xs-2 col-sm-2">
              <div class="form-group">
               <v-text-field
                label="Dye Cost"
                v-model="per_dye_cost"
                type="number"
                outlined
          
              ></v-text-field>

              </div>
            </div>
          </div>
        </v-card>
      </div>
    
    </div> -->
<!--     <div class="row" v-if="dye_cost_box == true && plate_cost == true">
      <div class="col-md-12">
        <v-card elevation="2">
          <div class="row">
              <h3 style="margin-left: 20px">PLATE & DYE COST / BOX</h3>
          </div>
          <div class="row">
          <div  class="col-md-4 col-lg-4 col-xs-2 col-sm-2">
              <div class="form-group">
               <v-text-field
                label="Plate Cost"
                v-model="plate_cost_box"
                type="number"
                outlined
                disabled
                id="plate_cost_box"
          
              ></v-text-field>

              </div>
            </div>    
            <div  class="col-md-4 col-lg-4 col-xs-2 col-sm-2">
              <div class="form-group">
               <v-text-field
                label="Dye Cost"
                v-model="per_dye_cost"
                type="number"
                outlined
                disabled 
            
              ></v-text-field>

              </div>
            </div>
            <div  class="col-md-4 col-lg-4 col-xs-2 col-sm-2">
              <div class="form-group">
               <v-text-field
                label="Profit Percentage"
                v-model="profit_percentage"
                type="number"
                outlined
          
              ></v-text-field>

              </div>
            </div>
          </div>
        </v-card>
      </div>
    
    </div> -->
    <div class="row">
      <div class="col-md-12">
        <v-card elevation="2">
          <div class="row">
            <div class="col-md-3">
            </div>
            <div class="col-md-7">
               <v-btn
              style="margin-left: 160px ; margin-top: 20px"
              class="primary"
              dense
              @click="calculateCost"
              elevation="2"
              x-large
              >
              Calculate Cost
              </v-btn>

            </div>
              
             
          </div>
          <div class="row" style="padding-left: 10px;padding-right: 10px">    
            <div  class="col-md-4 col-lg-4 col-xs-2 col-sm-2">
               <div class="form-group">
                     <v-text-field
                      label="Board Cost"
                      v-model="board_cost"
                      type="number"
                      outlined
                      disabled
                      id="b1"
                
                    ></v-text-field>

               </div>
            </div>
            <div  class="col-md-4 col-lg-4 col-xs-2 col-sm-2">
               <div class="form-group">
                     <v-text-field
                      label="Printing Cost"
                      v-model="printing_cost"
                      type="number"
                      outlined
                      disabled
                      id="p1"
                
                    ></v-text-field>

               </div>
            </div>
            <div v-if="packing == true"   class="col-md-4 col-lg-4 col-xs-2 col-sm-2">
               <div class="form-group">
                     <v-text-field
                      label="Packing Cost"
                      v-model="packing_cost"
                      type="number"
                      outlined
                      disabled
                      id="packking_id"
                
                    ></v-text-field>

               </div>
            </div>  
            <div v-if="lamination == true"  class="col-md-4 col-lg-4 col-xs-2 col-sm-2">
               <div class="form-group">
                     <v-text-field
                      label="Lamination Cost"
                      v-model="lamination_cost"
                      type="number"
                      outlined
                      disabled
                      id="l1"
                
                    ></v-text-field>

               </div>
            </div>
             <div  v-if="pasting == true" class="col-md-4 col-lg-4 col-xs-2 col-sm-2">
               <div class="form-group">
                     <v-text-field
                      label="Pasting Cost"
                      v-model="pasting_cost"
                      type="number"
                      outlined
                      disabled
                      id="pasting_id"
                
                    ></v-text-field>

               </div>
            </div>
            <div v-if="plate_cost == true" class="col-md-4 col-lg-4 col-xs-2 col-sm-2">
               <div class="form-group">
                     <v-text-field
                      label="Plat & Dye Cost"
                      v-model="plate_dye_cost"
                      type="number"
                      outlined
                      disabled
                      id="plate_dye_id"
                
                    ></v-text-field>

               </div>
            </div>
            <div v-if="is_corrugation == true"  class="col-md-4 col-lg-4 col-xs-2 col-sm-2">
               <div class="form-group">
                     <v-text-field
                      label="Corrugation Cost"
                      v-model="corrugation_cost"
                      type="number"
                      outlined
                      disabled
                      id="corrugation_id"
                
                    ></v-text-field>

               </div>
            </div>
            <div v-if="is_corrugation == true"  class="col-md-4 col-lg-4 col-xs-2 col-sm-2">
               <div class="form-group">
                     <v-text-field
                      label="Corrugation Glue Cost"
                      v-model="corrugation_glue_cost"
                      type="number"
                      outlined
                      disabled
                      id="corrugation_glue_id"
                
                    ></v-text-field>

               </div>
            </div>
            <div  class="col-md-4 col-lg-4 col-xs-2 col-sm-2">
          
                     <v-text-field
                      label="Cost / Box"
                      v-model="total_cost_per_box" 
                     
                      type="number"
                      outlined
                      
                      id="cost_per_box"
                      class="text-input-blue"
                      style="padding-bottom: 10px;font-size: 35px;"
                
                    ></v-text-field>
            </div> 

          </div>

<!--           <div class="row">    
            <div  class="col-md-4 col-lg-4 col-xs-2 col-sm-2">
               <div class="form-group">
                     <v-text-field
                      label="Corrugation Cost"
                      v-model="corrugation_cost"
                      type="number"
                      outlined
                      disabled
                      id="corrugation_id"
                
                    ></v-text-field>

               </div>
            </div>
            <div  class="col-md-4 col-lg-4 col-xs-2 col-sm-2">
               <div class="form-group">
                     <v-text-field
                      label="Pasting Cost"
                      v-model="pasting_cost"
                      type="number"
                      outlined
                      disabled
                      id="pasting_id"
                
                    ></v-text-field>

               </div>
            </div>
            <div   class="col-md-4 col-lg-4 col-xs-2 col-sm-2">
               <div class="form-group">
                     <v-text-field
                      label="Lamination Cost"
                      v-model="lamination_cost"
                      type="number"
                      outlined
                      disabled
                      id="l1"
                
                    ></v-text-field>

               </div>
            </div>
          </div> -->
<!--            <div class="row">    
            <div  class="col-md-4 col-lg-4 col-xs-2 col-sm-2">
               <div class="form-group">
                     <v-text-field
                      label="Corrugation Glue Cost"
                      v-model="corrugation_glue_cost"
                      type="number"
                      outlined
                      disabled
                      id="corrugation_glue_id"
                
                    ></v-text-field>

               </div>
            </div>
            <div  class="col-md-4 col-lg-4 col-xs-2 col-sm-2">
               <div class="form-group">
                     <v-text-field
                      label="Plat & Dye Cost"
                      v-model="plate_dye_cost"
                      type="number"
                      outlined
                      disabled
                      id="plate_dye_id"
                
                    ></v-text-field>

               </div>
            </div>
            <div  class="col-md-4 col-lg-4 col-xs-2 col-sm-2">
               <div class="form-group">
                     <v-text-field
                      label="Cost / Box"
                      v-model="total_cost_per_box" 
                     
                      type="number"
                      outlined
                      disabled
                      id="cost_per_box"
                      style="height: 30px"

                
                    ></v-text-field>

               </div>
            </div>            

          </div> -->
        </v-card>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <v-card elevation="2">
          <div class="row">
              <h3 style="margin-left: 20px">Total Profit Percentage</h3>
          </div>
          <div class="row" style="padding-left: 10px;padding-right: 10px"> 
            <div  class="col-md-2 col-lg-2 col-xs-2 col-sm-2">
               <div class="form-group">
                     <v-text-field
                      label="Profit %"
                      v-model="profit_percentage_total"
                      type="number"
                      outlined
                      id="profit_percentage_id"
                      v-on:change="calculatePricePerBox"
                      @keypress="onlyNumber"
                
                    ></v-text-field>

               </div>
            </div>
            <div  class="col-md-2 col-lg-2 col-xs-2 col-sm-2">
               <div class="form-group">
                     <v-text-field
                      label="Profit % Cost"
                      v-model="profit_percentage_calculation"
                      type="number"
                      outlined
                      id="profit_percentage_calculation"
                      disabled
                
                    ></v-text-field>

               </div>
            </div>             
            <div  class="col-md-2 col-lg-2 col-xs-2 col-sm-2">
               <div class="form-group">
                    <v-text-field
                      label="Price / Box"
                      v-model="price_per_box"
                      type="number"
                      outlined
                      disabled
                      id="price_per_box"
                      class="text-input-blue"
                      style="padding-bottom: 10px;font-size: 35px;"
                       
                
                    ></v-text-field>

               </div>
            </div>
            <div  v-if="discounted_offer == true" class="col-md-2 col-lg-2 col-xs-2 col-sm-2">
               <div class="form-group">
                     <v-text-field
                      label="Discounted Price"
                      v-model="discounted_price"
                      type="number"
                      outlined
                      @keypress="onlyNumber"
                
                    ></v-text-field>

               </div>
            </div>
            
            <div  class="col-md-2 col-lg-2 col-xs-2 col-sm-2">
               <v-btn
              class="primary"
              dense
              @click="calculatePricePerBox"
              elevation="2"
              x-large
              >
              Calculate
              </v-btn>
            </div>
            <div  class="col-md-2 col-lg-2 col-xs-2 col-sm-2">
              <v-btn

              class="success"
              dense
              @click="submit"
              elevation="2"
              x-large
              >
              Submit
              </v-btn>
            </div>             
          </div>
        </v-card>
      </div>
    
  </div>


    

    </div>
</v-app>  
</template>

<style type="text/css">
/*.ajs-message { 
  color: #31708f;  background-color: black;  border-color: #31708f; 

}*/
  .ajs-message.ajs-custom { color: white;  background-color: black;  border-color: #31708f; }
  .v-input--selection-controls__input input[role="checkbox"], .v-input--selection-controls__input input[role="radio"], .v-input--selection-controls__input input[role="switch"] 
   {
    opacity: 1;
   } 
/*   .v-text-field > .v-input__control > .v-input__slot > .v-text-field__slot

    {
      border: .05px solid purple;
    }*/
    .vs--searchable .vs__dropdown-toggle
    {
      /*border: .05px solid purple;*/
      height: 60px;
    }
    .v-sheet.v-card
    {
      border: 0.5px solid purple;
    }
    .text-input-blue .v-text-field__slot input {
   color: red !important;
}
</style>

<script>


import { onlyFloat } from 'vue-input-only-number';
import IMask from 'imask';

  export default {

  props: ['costing'],
data: function() {
    return {


      profit_percentage_calculation:0,
      radios: 1,
      is_local:'0',
      irregular:true,
      printing:false,
      plate_cost:false,
      dye_cost_box:false,
      pasting:false,
      lamination:false,
      is_corrugation:false,

      packing:false,

      vendor_id:null,
      board_id:null,

      vendors:null,
      boards:'',
      // gramage:null,
      grams:0,
      new_grams:0,
      price:0,
      length:0,
      width:0,
      boxes:0,
      packets:0,
      transport:0,
      board_cost:0,
      printing_cost:0,

      lamination_length:0,
      lamination_width:0,
      lamination_cost_per_inch:0,
      lamination_cost:0,

      corrugation_cutting_size:0,
      corrugation_per_square_inch:0,
      corrugation_width:0,
      corrugation_transport:0,
      corrugation_glue_rate:0,
      corrugation_cost:0,
      corrugation_glue_cost:0,

      pasting_labor:0,
      pasting_cost:0,

      cartons_count:0,
      carton_price:0,
      packing_cost:0,

      plate_cost_calculation:0,

      per_plate_cost:0,
      color_plate_cost:0,
      per_dye_cost:0,

      plate_cost_box:0,
      dye_box:0,
      profit_percentage:0,

      plate_dye_cost:0,

      profit_percentage_total:0,

      product_id:'',
      is_proofing:0,
      customer_id:'',
      quality:'',
      type:'',


      result1:0,
      result2:0,
      result3:0,
      result4:0,
      result5:0,
      result_pasting:0,
      result_6:0,

      board_cost_box:0,
      total_printing_cost_box:0,
      lamination_cost_box:0,
      packing_rate:0,
      pasting_labor_cost:0,
      plate_dye_rate_box:0,
      corrugation_rate_box:0,
      corrugation_glue_rate_box:0,

      colors_new_count:0,

      valid: false,
      colors_count: 0,
      ups_count:0,
      print_cost:0,
      total_cost_per_box:0,
      price_per_box:0,
      vendor_array:[],
      board_array:[],
      gramage_array:[],
      discounted_price:0,
      discounted_offer:false,
      rows:['printing'],
       // base_address:'http://127.0.0.1:8000/api/',
        base_address:'http://printingcell.test/api/',
       timestamp: "",
        rules: {
       /*   titleRules: [
              v => !!v || 'Title is required',
              v => (v && v.length <= 28) || 'Title must be less than 28 characters'
          ],
          priceRules: [
              v => !!v || 'Price field is required',
              v => (!isNaN(parseFloat(v)) && v >= 0) || 'Enter positive number'   
          ],*/
          widthRules: [
              v => !!v || 'Board width field is required',
              v => (!isNaN(parseFloat(v)) && v >= 0) || 'Enter positive number',
          ],
           lengthRules: [
              v => !!v || 'Board length field is required',
              v => (!isNaN(parseFloat(v)) && v >= 0) || 'Enter positive number',
          ],
          transportRules: [
              v => !!v || 'Transport field is required',
              v => (!isNaN(parseFloat(v)) && v >= 0) || 'Enter positive number',
          ],
          packetRules: [
              v => !!v || 'Transport field is required',
              v => (!isNaN(parseFloat(v)) && v >= 0) || 'Enter positive number',
          ],
          boxesRules: [
              v => !!v || 'Boxes field is required',
              v => (!isNaN(parseFloat(v)) && v >= 0) || 'Enter positive number',
          ],
          colorRules: [
              v => !!v || 'Colors field is required',
              v => (!isNaN(parseFloat(v)) && v >= 0) || 'Enter positive number',
          ],
          upsRules: [
              v => !!v || 'UPS field is required',
              v => (!isNaN(parseFloat(v)) && v >= 0) || 'Enter positive number',
          ],
          printingRules: [
              v => !!v || 'Printing field is required',
              v => (!isNaN(parseFloat(v)) && v >= 0) || 'Enter positive number',
          ],
          cartonRules: [
              v => !!v || 'Carton field is required',
              v => (!isNaN(parseFloat(v)) && v >= 0) || 'Enter positive number',
          ],
          boxesCartonRules: [
              v => !!v || 'Boxes field is required',
              v => (!isNaN(parseFloat(v)) && v >= 0) || 'Enter positive number',
          ],
          vendorRules :[
              v => !!v || 'Vendor field is required',
          ],


        }
    }
  }, 
  created() 
  {
    setInterval(this.getNow, 1000);
  },
  mounted() {

    var self=this; 
    axios.get(this.base_address+"getvendors").then((response) => {
      // console.log(response)
      var temp = response.data;
      temp.forEach(function(data){
        self.vendor_array.push(data);
      });
    })

  },

  methods:{

   getNow: function() 
   {
      const today = new Date();
      const date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();
      const time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
      const dateTime = date +' '+ time;
      this.timestamp = dateTime;
      // console.log(this.timestamp)
    },

    onlyNumber ($event) {
       //console.log($event.keyCode); //keyCodes value
       let keyCode = ($event.keyCode ? $event.keyCode : $event.which);
       if ((keyCode < 48 || keyCode > 57) && keyCode !== 46) { // 46 is dot
          $event.preventDefault();
       }
    },
     vendorBoards(id)
     {


        this.vendor_id= id;
        console.log("vendor "+this.vendor_id)
        var self=this; 
        this.board_array=[];
        axios.get(this.base_address+"getboards", { params: { id: id } }).then((response) => {
          console.log(response.data)
          var temp = response.data;
          temp.forEach(function(data){
            self.board_array.push(data);

          });
        })
     },
     boardData(id)
     {
        this.board_id= id;
        console.log("board "+this.board_id)
        var self=this; 
         this.gramage_array=[];
        axios.get(this.base_address+"getboardgrammage", { params: { id: id } }).then((response) => {
          
          var temp= response.data;
          temp.forEach(function(data){
            self.gramage_array.push(data);
            // console.log(self.gramage_array)

          });
          // $('#gramage').val(temp.gramage);
          // this.gramage= temp.gramage;
          // $('#price').val(temp.per_kg_cost);
          // this.price=temp.per_kg_cost;
          // console.log("price"+this.price)
        })

     },
      gramageData(id)
     {

        var self=this; 
        axios.get(this.base_address+"getgrammageprice", { params: { id: id } }).then((response) => {
            
            // console.log(response.data)
          var temp= response.data[0].per_kg_cost;
           $('#price').val(temp);
            this.price=temp;

          var x= response.data[0].gramage;
         
            this.new_grams=x;  
          // $('#gramage').val(temp.gramage);
          // this.gramage= temp.gramage;
          // $('#price').val(temp.per_kg_cost);
          // this.price=temp.per_kg_cost;
          // console.log("price"+this.price)
        })

     },
     checkBoxValues()
     {
      // console.log(this.pasting)
        if(this.lamination == false)
        {
          this.lamination_length= 0;
          this.lamination_width=0;
          this.lamination_cost_per_inch=0;
          this.lamination_cost=0;
          this.lamination_cost_box=0;
        alertify.notify('Please re-calculate the amount .', 'custom', 5, function(){console.log('dismissed');});
        }

     },
      checkPastingBoxValues()
     {
      console.log(this.pasting);
       if(this.pasting == false)
        {
          this.pasting_labor_cost= 0;
          this.pasting_labor=0;
          alertify.notify('Please re-calculate the amount .', 'custom', 5, function(){console.log('dismissed');});
        }

     },
     
     checkDiscountedOffer()
     {
       if(this.discounted_offer == false)
        {
          this.discounted_price= 0;
        }

     },
     checkPackingBoxValues()
     {
      // console.log(this.pasting);
       if(this.packing == false)
        {
          this.carton_price= 0;
          this.cartons_count=0;
          this.result4=0;
          this.packing_rate=0;
          alertify.notify('Please re-calculate the amount .', 'custom', 5, function(){console.log('dismissed');});
        }

     },

     checkCorrugationBoxValues()
     {
      // console.log(this.is_corrugation);
       if(this.is_corrugation == false)
        {
          this.corrugation_cutting_size= 0;
          this.corrugation_width=0;
          this.corrugation_per_square_inch=0;
          this.corrugation_transport=0;
          this.corrugation_glue_rate=0;
          this.corrugation_cost=0;
          this.corrugation_glue_rate_box=0;
          this.corrugation_glue_cost=0;

          alertify.notify('Please re-calculate the amount .', 'custom', 5, function(){console.log('dismissed');});
        }

     },
      checkBoxPlateValues()
     {
       if(this.plate_cost == false)
        {
          this.profit_percentage= 0;
          this.colors_count= 0;
          this.per_plate_cost=0;
          this.plate_cost_calculation=0;
          this.per_dye_cost=0;
          this.plate_dye_rate_box=0;
          this.colors_new_count=0;
          alertify.notify('Please re-calculate the amount .', 'custom', 5, function(){console.log('dismissed');});
        }

     },
     //  checkBoxDyeValues()
     // {
     //   if(this.dye_cost == false)
     //    {
     //      this.pasting_labor_cost= 0;
     //      this.pasting_labor=0;
     //      alertify.notify('Please re-calculate the amount .', 'custom', 5, function(){console.log('dismissed');});
     //    }

     // },
     updateColor()
     {
      var color= this.colors_count;
      this.colors_new_count=color;
     },
     calculateCost()
     {
        //==============================BOARD CALCULATOR =====================================//
          var price=$('#price').val();

          var packet_per_weight= (parseFloat(this.length) * parseFloat(this.width) * parseFloat(this.new_grams)) / 15500;
          var margin= parseFloat(price) +parseFloat(this.transport);
          if(this.boxes == 0)
          {
             this.result1=(packet_per_weight * margin * parseFloat(this.packets)) / 1;

            $('#b1').val(parseFloat(this.result1.toFixed(3)));
            // console.log(this.result1)
            this.board_cost_box=parseFloat(this.result1.toFixed(3));
          }
          else
          {
            this.result1=(packet_per_weight * margin * parseFloat(this.packets)) / parseInt(this.boxes);

            $('#b1').val(parseFloat(this.result1.toFixed(3)));

            console.log("final "+this.result1)
            this.board_cost_box=parseFloat(this.result1.toFixed(3));
          }
        // }  
       //  // //==============================BOARD CALCULATOR =====================================//
        

       //  // //==============================PRINTING CALCULATOR =====================================//
       if(this.ups_count == 0)
       {
        this.result2= (parseInt(this.colors_count) * parseInt(this.print_cost)) / ( 1 * 1000);
        $('#p1').val(parseFloat(this.result2.toFixed(3)));

        this.total_printing_cost_box= parseFloat(this.result2.toFixed(3));        
       }
       else
       {
        this.result2= (parseInt(this.colors_count) * parseInt(this.print_cost)) / ( parseInt(this.ups_count) * 1000);
        $('#p1').val(parseFloat(this.result2.toFixed(3)));

        this.total_printing_cost_box= parseFloat(this.result2.toFixed(3));        
       }

       //  // //==============================PRINTING CALCULATOR =====================================//

       //  //  //==============================LAMIINATION CALCULATOR =====================================//
         if(this.ups_count == 0)
         {
          this.result3= parseInt(this.lamination_length) * parseInt(this.lamination_width) * parseInt(this.lamination_cost_per_inch) / 144;
          $('#l1').val(parseFloat(this.result3.toFixed(3)));  

          this.lamination_cost_box = parseFloat(this.result3.toFixed(3));      
         }
         else
         {
          // this.result3= (parseInt(this.lamination_length) * parseInt(this.lamination_width) * parseFloat(this.lamination_cost_per_inch) / 144)  / parseInt(this.ups_count) ;
          this.result3=parseInt(this.lamination_length) * parseInt(this.lamination_width) * parseFloat(this.lamination_cost_per_inch) / 144;
          this.result3=parseFloat(this.result3) / parseInt(this.ups_count);
          // console.log(this.result3)
          $('#l1').val(parseFloat(this.result3.toFixed(3))); 
          this.lamination_cost_box = parseFloat(this.result3.toFixed(3));    
         }

       //  //==============================LAMIINATION CALCULATOR =====================================//

       // //==============================PACKING CALCULATOR =====================================//
       if(this.cartons_count == 0)
       {
          this.result4= parseFloat(this.carton_price) / 1;
          $('#packking_id').val(parseFloat(this.result4.toFixed(3)));
          this.packing_rate= parseFloat(this.result4.toFixed(3));        
       }
       else
       {
          this.result4= parseFloat(this.carton_price) / parseInt(this.cartons_count);
          $('#packking_id').val(parseFloat(this.result4.toFixed(3)));
          this.packing_rate= parseFloat(this.result4.toFixed(3));
       }
       //  //==============================PACKING CALCULATOR =====================================//

       //   //==============================PACKING CALCULATOR =====================================//
          this.result_pasting= this.pasting_labor;
          $('#pasting_id').val(this.result_pasting);

          this.pasting_labor_cost=parseInt(this.result_pasting);
       //  //==============================PACKING CALCULATOR =====================================//

       //  //==============================PLATE COST AND DYE DOST CALCULATOR =====================================//
        var percentage=this.profit_percentage / 100;

        var temp=this.plate_cost_calculation;

        var new_temp= parseFloat(temp) *  parseFloat(percentage); 

        var total = parseFloat(this.plate_cost_calculation) + parseFloat(new_temp);

        // var plate_box=(parseFloat(temp) + parseFloat(this.per_dye_cost)) * parseFloat(percentage)  +(parseFloat(temp) + parseFloat(this.per_dye_cost));

        if(this.boxes == 0)
        {
          this.result5= total;

          $('#plate_dye_id').val(this.result5);

          // console.log("plate_dye_rate_box "+this.result5)
          this.plate_dye_rate_box=parseFloat(this.result5); 
          // console.log("plate_dye_rate_box: "+this.plate_dye_rate_box) 

        }
        else if(this.boxes != 0)
        {
          this.result5= parseFloat(total) / parseInt(this.boxes);
          $('#plate_dye_id').val(parseFloat(this.result5.toFixed(3)));
 
          this.plate_dye_rate_box=parseFloat(this.result5.toFixed(3));
          // console.log(this.plate_dye_rate_box)
          
        }
        else
        {

        }

       //  //==============================PLATE COST AND DYE DOST =====================================

       //  //==============================CORRUGATION CALCULATOR =====================================//
        var corrugation1= (parseFloat(this.corrugation_width)* parseFloat(this.corrugation_per_square_inch)) + parseFloat(this.corrugation_transport);

        var corrugation2= corrugation1.toFixed(3);
        console.log("corrugation2 "+corrugation2 )

        if(this.corrugation_cutting_size == 0 || this.ups_count == 0 )
        {
          var temp =2400 / 1 ;         
        }
        else
        {
          var temp =(2400 / parseFloat(this.corrugation_cutting_size)) * this.ups_count;
          var roll= temp.toFixed(3);

        }
 
        this.result6=parseFloat(corrugation2) / parseFloat(temp);
        // console.log(this.result6.toFixed(3))

        $('#corrugation_id').val(parseFloat(this.result6.toFixed(3)));
         // console.log(this.result6.toFixed(3));
        this.corrugation_rate_box=parseFloat(this.result6.toFixed(3));
        // console.log(this.corrugation_rate_box);
        if(this.ups_count == 0)
        {
          this.corrugation_glue_cost=((parseFloat(this.corrugation_width)* parseFloat(this.corrugation_cutting_size) * parseFloat(this.corrugation_glue_rate)) /  10000) / 1;
          // console.log("glue cost "+this.corrugation_glue_cost)
           $('#corrugation_glue_id').val(parseFloat(this.corrugation_glue_cost.toFixed(3))); 
           this.corrugation_glue_rate_box=parseFloat(this.corrugation_glue_cost.toFixed(3));          
        }
        else if(this.ups_count != 0)
        {
          this.corrugation_glue_cost=((parseFloat(this.corrugation_width)* parseFloat(this.corrugation_cutting_size) * parseFloat(this.corrugation_glue_rate)) /  10000) / parseInt(this.ups_count);
          // console.log("glue cost "+this.corrugation_glue_cost)
           $('#corrugation_glue_id').val(parseFloat(this.corrugation_glue_cost.toFixed(3))); 
           this.corrugation_glue_rate_box=parseFloat(this.corrugation_glue_cost.toFixed(3));          
        }
        else
        {

        }

        //==============================CORRUGARION CALCULATOR =====================================//

        //==============================COST PER BOX CALCULATOR =====================================//
      
          // this.total_cost_per_box=this.board_cost_box + this.total_printing_cost_box +this.lamination_cost_box+this.packing_rate+ this.pasting_labor_cost+ this.corrugation_rate_box+ this.corrugation_glue_cost;  
          var temp2=this.board_cost_box + this.total_printing_cost_box +this.lamination_cost_box+this.packing_rate+ this.pasting_labor_cost+ this.corrugation_rate_box+ this.corrugation_glue_cost;             


          $('#cost_per_box').val(parseFloat(temp2.toFixed(3)));
          this.total_cost_per_box=parseFloat(temp2.toFixed(3));
        //==============================COST PER BOX CALCULATOR =====================================//          
     },
     calculatePricePerBox()
     {
      var temp= this.profit_percentage_total /100 ;
      var profit_percentage_price= parseFloat(this.total_cost_per_box) * parseFloat(temp); 
      this.profit_percentage_calculation= profit_percentage_price.toFixed(3);

      $('#profit_percentage_calculation').val(profit_percentage_price.toFixed(3)); 


      // console.log("temp "+temp);
      // console.log("profit_percentage "+profit_percentage_price)
      // console.log("total_cost_per_box "+this.total_cost_per_box)
      // console.log("plate_dye_rate_box "+this.plate_dye_rate_box)
      this.price_per_box=parseFloat(this.total_cost_per_box) + parseFloat(profit_percentage_price) + parseFloat(this.plate_dye_rate_box) ;
      $('#price_per_box').val(parseFloat(this.price_per_box.toFixed(3)));

     },
     calculatePlateCost()
     {
      console.log(this.colors_new_count)
      console.log(this.per_plate_cost)
        this.plate_cost_calculation= parseInt(this.colors_new_count) * parseFloat(this.per_plate_cost);
       $('#plate_cost_box').val(parseFloat(this.plate_cost_calculation.toFixed(3)));
       this.color_plate_cost=this.plate_cost_calculation.toFixed(3);
     },
     submit()
     {
        if(!this.vendors)
        {
          $("#vendor_error").show();
        }
        else
        {
          $("#vendor_error").hide();
        }
        if(!this.boards)
        {
          $("#board_error").show();
        }
        else
        {
          $("#board_error").hide();
        }
       if (this.$refs.boardForm.validate()) {   
        var request ={
          discounted_price:this.discounted_price,
          profit_percentage_calculation:this.profit_percentage_calculation,
          product_id: this.costing.product_id,
          vendor_id:this.vendor_id,
          board_id:this.board_id,
          created_by:this.costing.created_by,
          is_proofing:this.costing.type,
          is_regular_board: this.radios,
          is_local:this.costing.quality,
          is_draft:0,

          board_length:this.length,
          board_width:this.width,
          board_gramage:this.new_grams,
          board_price:this.price,
          board_box_transport:this.transport,
          no_of_board_packets:this.packets,
          no_of_printed_boxes:this.boxes,
          board_cost_per_box:parseFloat(this.result1.toFixed(3)),

          no_of_colors:this.colors_count,
          printing_cost:this.print_cost,
          no_of_ups:this.ups_count,
          total_printing_cost_per_box:parseFloat(this.result2 .toFixed(3)),
          
          lamination_width:this.lamination_width,
          lamination_length:this.lamination_length,
          lamination_cost_per_square_inch:this.lamination_cost_per_inch,
          lamination_cost_per_box:parseFloat(this.result3 .toFixed(3)),
          
          no_of_boxed_in_carton:this.cartons_count,
          carton_price:this.carton_price,
          packing_rate_per_box:this.packing_rate,



          pasting_labor_cost_per_box:this.pasting_labor_cost,

          colors_plate_cost:this.colors_new_count,
          per_plate_cost:this.per_plate_cost,
          plate_cost:this.color_plate_cost,
          dye_cost:this.per_dye_cost,
          plate_and_dye_rate_per_box:this.plate_dye_rate_box,
          profit_percentage_of_dye_plates:this.profit_percentage,

          corrugation_cutting_size:this.corrugation_cutting_size,
          corrugation_width:this.corrugation_width,
          corrugation_per_square_inch_cost:this.corrugation_per_square_inch,
          corrugation_transport:this.corrugation_transport,
          corrugation_rate_per_box:this.corrugation_rate_box,
          glue_rate:this.corrugation_glue_rate,
          corrugation_glue_rate_per_box:this.corrugation_glue_cost,

          total_cost_per_box:this.total_cost_per_box,
          profit_percentage_of_total_price:this.profit_percentage_total,
          total_price_per_box_comments:this.price_per_box,
          costing_date_and_time:this.timestamp,


          

        };
        console.log(request)
        var self=this; 
        axios.post(this.base_address+"submitcosting", request).then((response) => {
            
           window.location.href="http://printingcell.test/add-costing";
           //window.location.href="http://printingcell.org/add-costing";
         
          // var temp = response.data;
          // temp.forEach(function(data){
          //   self.vendor_array.push(data);
          // });
        }) 

      }  
       
     }
    // vednorSelected(id) 
    // {
    //   console.log(id)
    //   // this.getDepartments(unit);  
    // },

    // calculatePrinting()
    // {
    //   if(this.colors_count)
    //   {
    //     // console.log(this.colors_count)
    //   }
    //   else(this.print_cost)
    //   { 
       
    //     var calcuted_cost=(parseInt(this.colors_count)  * parseInt(this.print_cost)) / (parseInt(this.ups_count)/10000);
    //      $( "#cost_per_box" ).val( calcuted_cost );
    //     // this.rows.push(cost);
    //   }
    // }
  }
}
</script>